a, a:hover {color: #000;}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #F5F5F5;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

.section-intro {
    width: 100%;
    color: #fff;
    background-image: url('/img/11.jpg');
    background-position: top center;
    background-size: cover;
}
.section-intro .dark {
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
.section-intro .content-intro {
    text-align: center;
    padding: 50px 30px;
    margin: 0 auto;
    max-width: 530px;
}
.section-intro .desc-block {
    font-size: 16px;
    text-align: left;
    margin-left: 25px;
    max-width: 450px;
    margin-bottom: 30px;
}
.section-intro .desc-block li:nth-child(1) {
    margin-bottom: 15px;
}
.section-intro .desc-block li > i {
    color: #4cae4c;
}
.section-intro .content-intro .border-block {
    padding: 8px 15px 5px 15px;
    margin: 40px 30px;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid #fff;
    background: rgba(0, 0, 0, .5);
}
.section-intro .content-intro .btn-default {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px 7px 15px;
}

.section-carrier {
    padding: 50px 0;
}
.section-carrier h2 {
    color: #444444;
}
.section-carrier .carrier-block {
    padding-top: 50px;
}
.section-carrier .carrier-block .carrier-item-img {
    border: 2px dashed #4CA4FD;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin: 0 auto;
}
.section-carrier .carrier-block .carrier-item-img img {
    margin-top: 3px;
    margin-left: 1px;
}
.section-carrier .carrier-block .carrier-item-footer .item-desc {
    color: #4CA4FD;
    margin-top: 15px;
    text-transform: uppercase;
    text-align: center;
}
.section-carrier .carrier-block .carrier-item-footer .item-words {
    color: #4CA4FD;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.section-lessons {
    background: #2893FF;
    padding: 50px 0;
}
.section-lessons h2 {
    color: #fff;
}
.section-lessons .record-lesson {
    margin-top: 50px;
}
.section-lessons .record-lesson .control-label {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

.section-result {
    padding: 50px 0 0 0;
}
.section-result h2 {
    color: #444444;
}
.section-result .bg-result {
    width: 100%;
    min-height: 780px;
    background-image: url('/img/bg-result.jpg');
    background-position: top center;
    background-size: cover;
}
.section-try .container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-choise {
    background-color: #191A21;
    padding-top: 50px;
}
.section-choise .choise-bg {
    height: 575px;
    background-image: url('/img/2.jpg');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-result-graduate {
    padding: 100px 0;
}
.section-result-graduate .graduate-block-img img {
    margin: 0 auto;
}
.section-result-graduate .graduate-block-info {
    padding-top: 40px;
    max-width: 550px;
}
.section-result-graduate .graduate-block-info h2 {
    color: #313239;
}
.section-result-graduate .graduate-block-info .small {
    color: #313239;
    font-size: 12px;
}
.section-result-graduate .graduate-info {
    color: #000;
    margin-top: 25px;
}
.section-result-graduate .graduate-info .name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-result-graduate .graduate-info .city {
    font-size: 16px;
    font-weight: bold;
}
.section-result-graduate .graduate-info .desc {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.section-pay {
    padding: 50px 0;
}
.section-pay .pay-block {
    height: 350px;
    width: 250px;
    margin-bottom: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #444444;
    background: url('/img/bg-pay.jpg') repeat;
}
.section-pay .pay-block.left {
    float: left;
}
.section-pay .pay-block.right {
    float: right;
}

.section-pay .pay-block .title {
    height: 50px;
    background-color: #00C1F5;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 7px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.section-pay .pay-block .title.green {
    background-color: #00B850;
}
.section-pay .pay-block .info {
    padding: 10px 20px;
    text-align: center;
}
.section-pay .pay-block .info .desc {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #F24D45;
}
.section-pay .pay-block .info .desc.competition {
    color: #00B850;
}
.section-pay .btn.btn-record {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.section-footer-try {
    color: #fff;
    padding: 2px 0;
    background-color: #000;
}
.section-footer-try h2 {
    color: #ECECEC;
}
.section-footer-try .hr {
    background-color: #ECECEC;
}
.section-footer-try .container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.price-old {
    font-size: 30px;
    font-weight: bold;
    height: 42px;
}
.price-old .line {
    border-bottom: 2px solid red;
    margin-top: -21px;
    width: 110px;
    margin-left: 50px;
}
.price-old .up {
    font-size: 0.5em;
    vertical-align: super;
}
.price-old .currency {
    font-size: 0.5em;
}

.price-new {
    font-size: 45px;
    font-weight: bold;
}
.price-new .up {
    font-size: 0.5em;
    vertical-align: super;
}
.price-new .currency {
    font-size: 0.5em;
}

.form-control {
    height: 42px;
}
.btn.btn-record {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
    background: #FF3B36;
    padding: 10px 35px 10px 35px;
    box-shadow: 2px 2px 3px 0px #A9312E;
}

.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.w-100 {width: 100%;}
.hr { width: 100%; border-bottom: 2px dashed #000; height: 2px; margin: 15px 0; }

@media(max-width: 767px) {
    .section-carrier .carrier-item {
        margin-bottom: 50px;
    }
    .section-choise .choise-bg {
        height: 350px;
    }
    .section-result-graduate .graduate-block-img img {
        max-width: 250px;
    }
    .section-pay .pay-block {
        margin: 0 auto;
    }
}

@media(max-width: 991px) {
    .section-result-graduate .graduate-block-info {
        text-align: center;
        max-width: 100%;
    }
    .section-pay .pay-block.left, .section-pay .pay-block.right {
        float: none;
        margin-top: 15px;
    }
}

/*width: 100%;*/
/*background-image: url('/img/1.jpg');*/
/*background-position: center center;*/
/*background-size: cover;*/